body {
    margin: 0;
}

.calcBody {
    height: 630px;
    width: 480px;
    border-color: rgba(0,0,0,0.2);
    border-width: 1px;
    border-style: solid;
    margin: 150px auto 0 auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    padding: 1px;
}

.textBox {
    background-color: rgb(65, 65, 65);
    color: #fff;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
    height: 128px;
    width: 458px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.numberBox {
    display: flex;
    flex-wrap:wrap;
    width: 360px;
    height: 480px;
    flex-direction: row-reverse;
    justify-content: start;
}

.functionBox {
    display: flex;
    flex-wrap:wrap;
    width: 120px;
    height: max-content;
    justify-content: end;
}

.block, .blockFunc, .equelBtn {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
    height: 118px;
    flex-basis: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blockFunc, .equelBtn {
    background-color: rgb(59, 10, 10);
    color: #fff;
}

@media screen and (max-width: 850px) {
    .block, .blockFunc, .equelBtn {
        height: 58px;
        flex-basis: 58px;
        font-size: 18px;
        border-width: 1px;
    }

    .numberBox {
        width: 180px;
        height: 240px;
    }

    .functionBox {
        width: 60px;
        height: max-content;
    }

    .textBox {
        height: 63px;
        width: 228px;
        font-size: 18px;
        border-width: 1px;
        padding: 5px;
    }

    .calcBody {
        height: 315px;
        width: 240px;
        padding: 1px;
        border-width: 1px;
    }

    .buttons {
        height: 240px;
        width: 240px;
    }
}