.main {
    width: 250px;
    height: 80px;
    margin: 200px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(76,76,185), rgb(76, 145, 185));
    box-shadow: 0 2px 15px 15px rgba(0,0,0,0.2),
     0 2px 10px 5px rgba(0,0,0,0.2);
}

.numberC, .numberC1 {
    min-width: 200px;
    min-height: 40px;
    width: max-content;
    height: max-content;
    border-radius: 15px;
    background-color: rgb(163, 163, 163);
    box-shadow: 0 2px 15px 20px rgba(0,0,0,0.2),
     0 2px 8px 8px rgba(0,0,0,0.2);
     margin: 100px auto 0 auto;
     font-size: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px;
}

#inp, #inp1 {
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    border-width: 0;
}

p {
    margin: 0;
    font-size: 25px;
    color: #fff;
}

#changer {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(rgb(96, 196, 56), rgb(57, 117, 49));
    cursor: pointer;
    margin: 25px;
    overflow: hidden;
}

#changer::before {
    content: "";
    width: 100px;
    height: 100px;
    margin-left: 10.25px;
    margin-top: 10.25px;
    background: linear-gradient(rgb(76,76,185), rgb(76, 145, 185));
    transform: rotate(45deg);
    display: block;
}
